<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.download {
  padding: 0px;
  width: 70px;
  height: 50px;
  display: flex;
  margin: auto;
  background-color: blue;
}

.resume {
  padding: 0px;
  height: 50px;
  text-align: center;
  color: black;
  display: block;
  margin: auto;
}



</style>

</head>
<p class="resume"><b>Download My Resume</b></p>
<body>
    <a href="Resume.pdf"><img src="download.png" class="download"></a>
</body>
</html> 
